<div>
  <div class="main">
    <div class="row1">
      <ul>
        <li a-cont="temp">
        </li>
        <li>
          <img a-cont="icon"/>
        </li>
        <li a-cont="desc"></li>
      </ul>
      <ul>
        <li a-cont="day"></li>
        <li a-cont="date"></li>
        <li a-cont="locat"></li>
        <li>
          <span class="unit">
            <label>&#8451;</label>
            <input type="radio" value="1" name="unit"/>
            <label>&#8457;</label>
            <input type="radio" value="0" name="unit"/>
          </span>
        </li>
      </ul>
    </div>
    <div class="row2">
      <ul>
        <li>
          <span>PRESSURE</span>
          <span a-cont="press"></span>
        </li>
        <li>
          <span>HUMIDITY</span>
          <span a-cont="humid"></span>
        </li>
        <li>
          <span>WIND</span>
          <span a-cont="wind"></span a-cont="press">
        </li>
      </ul>
    </div>
    <div class="row3">
      <ul>
        <div>
          <span>Min:</span>
          <span a-cont="minTemp"></span>
        </div>
        <div>
          <span>Max:</span>
          <span a-cont="maxTemp"></span>
        </div>
      </ul>
    </div>
    <div id="autocomplete" class="autocomplete">
      <input class="autocomplete-input"
        placeholder="Search for a country"
        aria-label="Search for a country"
      >
      <ul class="autocomplete-result-list"></ul>
    </div>
  </div>
</div>